.sapUiUx3Shell .sapUiUx3ShellWorksetBar{left:290px;right:0;top:-49px;background-color:rgba(255,255,255,0) !important;background-color:rgba(255,255,255,0);z-index: 5}
/*.sapUiUx3ShellHeadStandard>.sapUiUx3ShellCanvas,.sapUiUx3ShellCanvasBackground{right:0 !important;right:0;left:290px !important;left:290px;top:40px;}*/
/*.sapUiUx3ShellPaneBar,.sapUiUx3ShellPaneBarRight{left:0;}*/
/*.sapUiUx3ShellPaneBar>.sapUiUx3ShellPaneBarContent{left:39px;}*/
